body {
    max-width:800px;
    margin:1rem;
    font-family:Arial, sans-serif;
}

div.orderform {
    display: inline-block;
    border-radius: 1rem;
    background: #dedede;
}

div.orderform h2 {
    margin: 1rem 0 0 1rem;
}

div.menuitem {
    float:left;
    margin:1rem;
    padding:1rem;
    border:1px #bdbdbd dashed;
    border-radius:1rem;
    background:#fff;
    min-width:250px;
}

div.menuitem p.itemname {
    float:left;
    margin:0;
    font-size:2rem;
    color: #e69500;
}

div.menuitem p.itemprice {
    float:right;
    margin:0;
    font-size:1.5rem;
    color:#009a1b;
}

div.menuitem p.description {
    margin-top:0;
    clear:both;
}

input.quantity {
    width: 3rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 6px;
    border: 2px black solid;
}

div.formbuttons {
    clear:both;
    margin-bottom:1rem;
    text-align:center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

tr.tabletotal {
    font-weight:bold;
}

td.tabletotaltitle {
    text-align:right;
}
